  <!-- Footer -->
  <footer class="site-footer">
    <div class="container site-footer_container">
      <p>&copy; {{ site.time | date: "%Y" }} All Rights Reserved. Ameya School of Dance. </p>
      <div class="social-links">
        <p>Follow us on 
        <a href="https://www.facebook.com/profile.php?id=100071614934324" aria-label="Facebook" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.youtube.com/@susroy1986" target="_blank"aria-label="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://www.instagram.com/ameyaschoolofdance/" aria-label="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
        </p>
      </div>
      <p> With love <a href="https://ezopinc.ca" target="_blank">EZOPS</a></p>
    </div>
  </footer>
